<%= link_to 'New', new_chest_path %>
<% if chests.any? %>
  <table>
    <tbody>
      <% chests.each do |chest| %>
        <tr>
          <td><%= link_to chest.name, chest %></td>
          <td><%= chest.balance %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
