<%= chest.name %>

<p>
  Balance: <%= balance %>
</p>

<p>
  <%= link_to 'New Coin', new_chest_coin_path(chest) %>
</p>

<% if chest.coins.any? %>
  <ul>
    <% chest.coins.each do |coin| %>
      <li><%= coin.value %></li>
    <% end %>
  </ul>
<% end %>
