<%= chest.name %>

<%= link_to 'New Coin', new_chest_coin_path(chest) %>

<% if chest.coins.any? %>
  <ul>
    <% chest.coins.each do |coin| %>
      <li><%= coin.value %></li>
    <% end %>
  </ul>
<% end %>
