<%= chest.name %>

<p>
  Balance: <%= balance %>
</p>

<p>
  <%= link_to 'New Coin', new_chest_coin_path(chest) %>
</p>

<% if chest.coins.any? %>
  <table>
    <tbody>
      <% chest.coins.each do |coin| %>
        <tr>
          <td><%= coin.value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
